.pomoclock-container {
    width: 90vw;
    max-width: 900px;
}

.pomoclock-bar {
    width: 55%;
}

.clock-btn {
    width: 60%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

button:last-child {
    grid-column: 1 / 3;
}

.btn-primary {
    font-size: 15px;
}

.CircularProgressbar .CircularProgressbar-text {
    fill: var(--light-bg);
}

.task-details {
    color: var(--light-bg);
    border: 4px dashed var(--primary-color);
}

.info-message {
    color: var(--primary-color);
    top: 12%;
    right: 1%;
    background: var(--light-bg);
    animation: show 0.3s linear;
}

.go-to-back {
    color: var(--primary-color);
    top: 4%;
    right: 1%;
}

.back-btn {
    background: var(--light-bg);

}

.tag-style {
    background: var(--light-bg);
    color: var(--primary-color);

}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 786px) {
    .pomoclock-container {
        width: fit-content;
        margin-top: 17rem;
    }

    .task-title {
        padding: 2rem;
        font-size: 2.5rem;
    }

    .task-description {
        font-size: 1.5rem;
    }

    .pomoclock-bar {
        width: 60%;
    }

    .task-details {
        text-align: center;
        width: 50%;
        margin-left: 9rem;
    }

    .go-to-back {
        top: 15%;
        right: 2%;
    }
}

@media screen and (min-width: 1024px) {
    .pomoclock-container {
        width: 100%;
        height: 90vh;
        align-items: center;
        align-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .task-details {
        align-self: flex-start;
    }
}