.task-card {
    width: 90%;
    margin: 0 auto;
}

.task-link {
    display: block;
    flex-grow: 1;
}

.pointer-cursor {
    color: var(--primary-color);
}
@media (max-width:786px){
    .btn.edit-delete-btn{
       min-width: 5rem;
        height: 3.5rem;
        margin-top:1rem;
    }
}